*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    background: linear-gradient(to right top,#e66465, #9198e5);
    background-attachment: fixed;
    
}
main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
h1{
    font-size:2em;
    margin-right: 25px;
}

.container{
    margin-top: 30px ;
    text-align: center;
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
    height: fit-content
    
}

.notes-container{
    position : relative;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: fit-content;
}

.content{

width: 100%;
max-width: 500px;
min-height: 150px;
background-color: #fff;
color: #333;
padding: 20px;
margin: 20px 0;
outline: none;
border-radius: 5px;
}

.enterBtn{
    width: 40px;
    height: 30px;
    cursor: pointer;

}

.notes-list{
    display: flex;
    align-items: center;
    margin: 10px;
}

.quotes{
    padding: 10px;
    margin: 15px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    min-height: 50px;
    background-color: #fff;
    border-radius: 20px;
    background: linear-gradient(to right top,#f7f2f2, #9c9ca2);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-wrap:break-word;
}

#quote-div{
    height: fit-content;
    overflow: hidden;
}

.deleteBtn{
    float: right;
    width: 40px;
    height: 30px;
    height: fit-content;
    border:transparent;
    background-color: transparent;
    cursor: pointer;
}
